--extra-index-url https://pypi.nvidia.com
torch==2.11.*
torchvision==0.26.*
torchaudio==2.11.*

packaging
psutil
setuptools
wheel
ninja
cmake
jvp-flash-attention==0.14.*

#transformer-engine[pytorch,core-cu13]>=2.14.1
#megatron-core


torchmetrics
torchdiffeq
einops
eindex
decord
ray[air]
wandb
pyrefly
jaxtyping
typeguard
diffusers
transformers
datasets
webdataset
huggingface_hub
tqdm
#img2dataset
#lion-pytorch
torch_ema